@import "smart-grid.less";
@import "media.less";


.reset();

.wrapper{
    .wrapper();
}
html {
	font-size: 10px;
}

///////////FONTS//////////////////
.open_rugular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.open_light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.open_semi {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.raleway_medium {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.raleway_semi {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.raleway_bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}



